= form_for @idea do |f|

  .row
    .grid12
      = render partial: "partials/form_errors", locals: { object: @idea }

  .row
    .grid2
      = f.label :user_id, class: "required"
    .grid10
      = f.number_field :user_id
  .row
    .grid2
      = f.label :title, class: "required"
    .grid10
      = f.text_field :title
  .row
    .grid2
      = f.label :description, class: "required"
    .grid10
      = f.text_area :description, rows: 4
  .row
    .grid2
      = f.label :published, class: "required"
    .grid10
      = f.check_box :published

  .row
    .grid10.offset2
      = render partial: "partials/form_buttons",
                        locals: { f: f, cancel_path: ideas_path, object: @idea }