%section.listing

  %h1 Ideas

  .row
    .grid8
      - if can? :create, Idea
        = link_to "Add a Idea", new_idea_path, class: "button secondary"
    .grid2
      %input#search-field{placeholder: "Search", type: "text"}
    .grid2
      = link_to "Search", ideas_path, class: "button"

  %table.table-condensed.table-bordered.table-striped
    %thead
      %tr
        %th User
        %th Title
        %th Description
        %th Published

    %tbody
      - @ideas.each do |idea|
        %tr
          %td
            - if can? :update, idea
              = link_to "Edit", edit_idea_path(idea), class: "button"
            = idea.user_id
          %td
            = link_to idea.title, idea
          %td
            = idea.description
          %td
            = t idea.published.class

  = pagination_links(@ideas)