%section.listing

  %h1 Ideas

  .row
    .grid2
      = link_to "Add", new_idea_path, class: "button secondary"
    .grid3.offset6
      %input#search-field{:placeholder => "Search", :type => "text"}
    .offset8
      = link_to "Search", '', class: "button"


  

  %table.table-condensed.table-bordered.table-striped
    %thead
      %tr
 
        %th Title
 
        %th Description
 
        %th User
 
        %th Published
        %th &nbsp;




    %tbody
      - @ideas.each do |idea|
        %tr
      
          %td= link_to idea.title, idea
            
          %td= idea.description
            
          %td= idea.user_id
            
          %td= t idea.published.class
          
          %td= link_to "Edit", edit_idea_path(idea), class: "button button-primary"

  = will_paginate @ideas
