%h3= render_crumbs

%h1 Idea
= link_to "Edit", edit_idea_path(@idea), class: "button button-inverse"

.row
  .span2
    %h4 Title
  .span10
    %span= @idea.title
.row
  .span2
    %h4 Description
  .span10
    %span= @idea.description
.row
  .span2
    %h4 User
  .span10
    %span= @idea.user_id
.row
  .span2
    %h4 Published
  .span10
    %span= @idea.published
 
