%h1 Idea
- if can? :update, @idea
  = link_to "Edit", edit_idea_path(@idea), class: "button"

.row
  .grid2
    %h4 User
  .grid10
    %span= @idea.user_id
.row
  .grid2
    %h4 Title
  .grid10
    %span= @idea.title
.row
  .grid2
    %h4 Description
  .grid10
    %span= @idea.description
.row
  .grid2
    %h4 Published
  .grid10
    %span= @idea.published
