%section.listing

  %h1 Comments

  .row
    .grid8
      - if can? :create, Comment
        = link_to "Add a Comment", new_comment_path, class: "button secondary"
    .grid2
      %input#search-field{placeholder: "Search", type: "text"}
    .grid2
      = link_to "Search", comments_path, class: "button"

  %table.table-condensed.table-bordered.table-striped
    %thead
      %tr
        %th User
        %th Idea
        %th Content
        %th Published

    %tbody
      - @comments.each do |comment|
        %tr
          %td
            - if can? :update, comment
              = link_to "Edit", edit_comment_path(comment), class: "button"
            = comment.user_id
          %td
            = comment.idea_id
          %td
            = link_to comment.content, comment
          %td
            = t comment.published.class

  = pagination_links(@comments)