%h1 Comment
- if can? :update, @comment
  = link_to "Edit", edit_comment_path(@comment), class: "button"

.row
  .grid2
    %h4 User
  .grid10
    %span= @comment.user_id
.row
  .grid2
    %h4 Idea
  .grid10
    %span= @comment.idea_id
.row
  .grid2
    %h4 Content
  .grid10
    %span= @comment.content
.row
  .grid2
    %h4 Published
  .grid10
    %span= @comment.published
