%section.listing

  %h1 Likes

  .row
    .grid2
      = link_to "Add", new_like_path, class: "button secondary"
    .grid3.offset6
      %input#search-field{:placeholder => "Search", :type => "text"}
    .offset8
      = link_to "Search", '', class: "button"


  

  %table.table-condensed.table-bordered.table-striped
    %thead
      %tr
 
        %th User
 
        %th Idea
        %th &nbsp;




    %tbody
      - @likes.each do |like|
        %tr
      
          %td= link_to like.user_id, like
            
          %td= like.idea_id
          
          %td= link_to "Edit", edit_like_path(like), class: "button button-primary"

  = will_paginate @likes
