= form_for @user do |f|

  .row
    .grid12
      = render partial: "partials/form_errors", locals: { object: @user }

  .row
    .grid2
      = f.label :name, class: "required"
    .grid10
      = f.text_field :name
  .row
    .grid2
      = f.label :email, class: "required"
    .grid10
      = f.text_field :email
  .row
    .grid2
      = f.label :password, class: "required"
    .grid10
      = f.text_field :password
  .row
    .grid2
      = f.label :job_title, class: "required"
    .grid10
      = f.text_field :job_title
  .row
    .grid2
      = f.label :phone, class: "required"
    .grid10
      = f.text_field :phone
  .row
    .grid2
      = f.label :technical_expertise, class: "required"
    .grid10
      = f.text_area :technical_expertise, rows: 4
  .row
    .grid2
      = f.label :email_idea_comments, class: "required"
    .grid10
      = f.check_box :email_idea_comments
  .row
    .grid2
      = f.label :email_news, class: "required"
    .grid10
      = f.check_box :email_news
  .row
    .grid2
      = f.label :is_admin, class: "required"
    .grid10
      = f.check_box :is_admin

  .row
    .grid10.offset2
      = render partial: "partials/form_buttons",
                        locals: { f: f, cancel_path: users_path, object: @user }