%h1 User
- if can? :update, @user
  = link_to "Edit", edit_user_path(@user), class: "button"

.row
  .grid2
    %h4 Name
  .grid10
    %span= @user.name
.row
  .grid2
    %h4 Email
  .grid10
    %span= @user.email
.row
  .grid2
    %h4 Password
  .grid10
    %span= @user.password
.row
  .grid2
    %h4 Job Title
  .grid10
    %span= @user.job_title
.row
  .grid2
    %h4 Phone
  .grid10
    %span= @user.phone
.row
  .grid2
    %h4 Technical Expertise
  .grid10
    %span= @user.technical_expertise
.row
  .grid2
    %h4 Email Idea Comments
  .grid10
    %span= @user.email_idea_comments
.row
  .grid2
    %h4 Email News
  .grid10
    %span= @user.email_news
.row
  .grid2
    %h4 Is Admin
  .grid10
    %span= @user.is_admin
