= form_for @attachment do |f|

  .row
    .span12
      = render partial: "globals/form_errors", locals: { object: @attachment }

  .row
    .span2
      = f.label :file_name, class: "required"
    .span2
      = f.text_field :file_name
  .row
    .span2
      = f.label :location, class: "required"
    .span2
      = f.text_area :location, rows: 4
  .row
    .span2
      = f.label :file_size, class: "required"
    .span2
      = f.number_field :file_size
  .row
    .span2
      = f.label :idea_id, class: "required"
    .span2
      = f.number_field :idea_id
  .row
    .span2
      = f.label :published, class: "required"
    .span2
      = f.check_box :published

  .row
    .span12
      = render partial: "globals/form_buttons",
                        locals: { f: f, cancel_path: attachments_path, object: @attachment }
