%h1 Page
- if can? :update, @page
  = link_to "Edit", edit_page_path(@page), class: "button"

.row
  .grid2
    %h4 User
  .grid10
    %span= @page.user_id
.row
  .grid2
    %h4 Title
  .grid10
    %span= @page.title
.row
  .grid2
    %h4 Content
  .grid10
    %span= @page.content
.row
  .grid2
    %h4 Sort Order
  .grid10
    %span= @page.sort_order
.row
  .grid2
    %h4 Published
  .grid10
    %span= @page.published
