%section.listing

  %h1 Page Items

  .row
    .grid8
      - if can? :create, PageItem
        = link_to "Add a Page Item", new_page_item_path, class: "button secondary"
    .grid2
      %input#search-field{placeholder: "Search", type: "text"}
    .grid2
      = link_to "Search", page_items_path, class: "button"

  %table.table-condensed.table-bordered.table-striped
    %thead
      %tr
        %th User
        %th Title
        %th Content
        %th Sort Order
        %th Published

    %tbody
      - @page_items.each do |page_item|
        %tr
          %td
            - if can? :update, page_item
              = link_to "Edit", edit_page_item_path(page_item), class: "button"
            = page_item.user_id
          %td
            = link_to page_item.title, page_item
          %td
            = page_item.content
          %td
            = page_item.sort_order
          %td
            = t page_item.published.class

  = pagination_links(@page_items)