%h1 Page Item
- if can? :update, @page_item
  = link_to "Edit", edit_page_item_path(@page_item), class: "button"

.row
  .grid2
    %h4 User
  .grid10
    %span= @page_item.user_id
.row
  .grid2
    %h4 Title
  .grid10
    %span= @page_item.title
.row
  .grid2
    %h4 Content
  .grid10
    %span= @page_item.content
.row
  .grid2
    %h4 Sort Order
  .grid10
    %span= @page_item.sort_order
.row
  .grid2
    %h4 Published
  .grid10
    %span= @page_item.published
