= form_for @<%= singular_table_name %> do |f|

  .row
    .grid12
      = render partial: "partials/form_errors", locals: { object: @<%= singular_table_name %> }

<% attributes.each do |attribute| -%>
  .row
    .grid2
      = f.label :<%= attribute.name %>, class: "required"
    .grid10
      = f.<%= attribute.field_type %> :<%= attribute.name %><%= attribute.field_type.to_s == "text_area" ? ", rows: 4" : "" %>
<% end -%>

  .row
    .grid10.offset2
      = render partial: "partials/form_buttons",
                        locals: { f: f, cancel_path: <%= table_name %>_path, object: @<%= singular_table_name %> }