%section.listing

  %h1 <%= plural_table_name.titleize %>

  .row
    .grid8
      - if can? :create, <%= singular_table_name.camelize %>
        = link_to "Add a <%= singular_table_name.titleize %>", new_<%= singular_table_name %>_path, class: "button secondary"
    .grid2
      %input#search-field{placeholder: "Search", type: "text"}
    .grid2
      = link_to "Search", <%= plural_table_name %>_path, class: "button"

  %table.table-condensed.table-bordered.table-striped
    %thead
      %tr
<% attributes.each do |attribute, i| -%>
        %th <%= attribute.human_name.titleize %>
<% end -%>

    %tbody
      - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
        %tr
<% attributes.each_with_index do |attribute, i| -%>
          %td
<% if i == 0 -%>
            - if can? :update, <%= singular_table_name %>
              = link_to "Edit", edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: "button"
<% end -%>
<% if attribute.name == "name" || attribute.name == "title" -%>
            = link_to <%= singular_table_name %>.<%= attribute.name %>, <%= singular_table_name %>
<% elsif attribute.name == "content" && singular_table_name == "comment" -%>
            = link_to <%= singular_table_name %>.<%= attribute.name %>, <%= singular_table_name %>
<% elsif attribute.type.to_s == "boolean" -%>
            = t <%= singular_table_name %>.<%= attribute.name %>.class
<% else -%>
            = <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
<% end -%>

  = pagination_links(@<%= plural_table_name %>)