%section.listing

  %h1 Posts

  .row
    .grid8
      - if can? :create, Post
        = link_to "Add a Post", new_post_path, class: "button secondary"
    .grid2
      %input#search-field{placeholder: "Search", type: "text"}
    .grid2
      = link_to "Search", posts_path, class: "button"

  %table.table-condensed.table-bordered.table-striped
    %thead
      %tr
        %th User
        %th Title
        %th Content
        %th Published

    %tbody
      - @posts.each do |post|
        %tr
          %td
            - if can? :update, post
              = link_to "Edit", edit_post_path(post), class: "button"
            = post.user_id
          %td
            = link_to post.title, post
          %td
            = post.content
          %td
            = t post.published.class

  = pagination_links(@posts)