%h3= render_crumbs

%h1 Post
= link_to "Edit", edit_post_path(@post), class: "button button-inverse"

.row
  .span2
    %h4 Name
  .span10
    %span= @post.name
.row
  .span2
    %h4 Content
  .span10
    %span= @post.content
.row
  .span2
    %h4 Published
  .span10
    %span= @post.published
.row
  .span2
    %h4 User
  .span10
    %span= @post.user_id
 
