%h1 Post
- if can? :update, @post
  = link_to "Edit", edit_post_path(@post), class: "button"

.row
  .grid2
    %h4 User
  .grid10
    %span= @post.user_id
.row
  .grid2
    %h4 Title
  .grid10
    %span= @post.title
.row
  .grid2
    %h4 Content
  .grid10
    %span= @post.content
.row
  .grid2
    %h4 Published
  .grid10
    %span= @post.published
