%footer{role: "content-info"}
  .container
    %nav
      %ul.cf
        - [{ title: "Home", url: "labs.vmware.com" },
           { title: "Flings", url: "labs.vmware.com/flings" },
           { title: "Academic", url: "labs.vmware.com/academic" },
           { title: "About", url: "labs.vmware.com/about" }].each do |li_item|
          %li
            = link_to(li_item[:title], "http://#{li_item[:url]}")

    .social-icons
    - [{ title: "Facebook" },
       { title: "Twitter" },
       { title: "Google-plus" },
       { title: "Github" }].each do |item|
      = link_to item[:title], class: "social-icons" do
        %i{class: "icon-#{item[:title]}".downcase}
        = item[:title]